<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.justinhileman.codaplugin.gitx</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>3</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>none</string>
			<key>keyEquivalent</key>
			<string>$^g</string>
			<key>name</key>
			<string>Open Site in GitX</string>
			<key>output</key>
			<string>discard</string>
			<key>script</key>
			<string>gitx</string>
			<key>uuid</key>
			<string>0198BACD-92E8-4879-9046-DBB10FAEA789</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalent</key>
			<string>$^h</string>
			<key>name</key>
			<string>View File History</string>
			<key>output</key>
			<string>discard</string>
			<key>script</key>
			<string>file_history</string>
			<key>uuid</key>
			<string>61582E9A-CA6D-4928-875F-7DFB2F8DEC53</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalent</key>
			<string>$^c</string>
			<key>name</key>
			<string>Commit</string>
			<key>output</key>
			<string>discard</string>
			<key>script</key>
			<string>gitx_commit</string>
			<key>uuid</key>
			<string>F907F0F9-14D4-4E74-883A-30CBFD511910</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>name</key>
			<string>Initialize Repo</string>
			<key>output</key>
			<string>discard</string>
			<key>script</key>
			<string>git_init</string>
			<key>uuid</key>
			<string>B6001DF1-9B09-47D3-B778-7F11621F01C2</string>
		</dict>
	</array>
</dict>
</plist>
